<div class="intro">
	<a href="{{ object.get_absolute_url }}" class="intro_pic">
		<img src="{{ object.get_competition_list_wide_url }}" width="107" height="60" alt="" /><span></span>
	</a>
	<p class="meta">Closes: {{ object.end_date|date:"d F Y" }}</p>
	<h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
	<p class="blurb">{{ object.description|truncatewords:12 }} <a href="{{ object.get_absolute_url }}">More</a></p>
	<a href="{{ object.get_absolute_url }}#comments" class="intro_comments">{{ object.comment_count }} Comments</a>
	<span class="intro_likes">{{ object.vote_total }} Likes</span>
</div>
